In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import re
import networkx as nx
from itertools import combinations
import pandas_profiling

import seaborn as sns

In [5]:
steam_data_user = pd.read_csv('steam-200k.csv', header=None, index_col=None, names=['user-id', 'game-title', 'behavior-name', 'Hours', 'value'])
#steam_data_user.head()

In [4]:
steam_data_user.groupby('behavior-name').count()

               user-id  game-title   Hours   value
behavior-name
play             70489       70489   70489   70489
purchase        129511      129511  129511  129511

In [6]:
# Counting how many games are bought per id:

behavior_purchase = steam_data_user[steam_data_user['behavior-name'] =='purchase']

behavior_purchase= behavior_purchase.groupby('user-id').agg({'behavior-name': 'count'}).sort_values(by='behavior-name', ascending = False) #True

behavior_purchase= behavior_purchase.rename(columns={'behavior-name': 'purchase'})

behavior_purchase.describe()

           purchase
count  12393.000000
mean      10.450335
std       35.864269
min        1.000000
25%        1.000000
50%        2.000000
75%        6.000000
max     1075.000000